<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>The Gilded Rose</title>
    </head>
    <body>
        <h1>Pardon the sparse website - prior webmaster moved to Uber and took source with them. New site under construction</h1>

		<p>Click <a th:href="@{/items}">here</a> to see list of available Items for sale.</p>
        <p>Click <a th:href="@{/hello}">here</a> to sign in and purchase.</p>
    </body>
</html>